/model_ckpts/
/__old_model_ckpts/
/__old_files/
/__old_config_files/
/wandb/
API_keys.jsonc
/data/
/outputs/
/notebooks/
/_artifacts/
/_comp_metrics/
/__logs__/
/HF-databases/
/tests/
!/tests/fixtures/
/images/
/__pycache__/
/*.pyc
/**/*.pyc
/.git/
/.github/
/.vscode/
/exclude-rsync.txt
/.pytest_cache/
/_notebooks_drafts/
/.cache/
/.mypy_cache/
/.ruff_cache/
**/.env
**/.env.*
/*.pem
/*.key
